.statsWrapper {
    background-color: white;
    border-radius: 50px;
    height: 90%;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
}

.next,
.prev {
    top: calc(50% - 20px);
    position: absolute;
    background: white;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 40px;
    z-index: 2;
    opacity: 80%;
}

.next {
    right: 2rem;
}

.prev {
    left: 2rem;
    transform: scale(-1);
}

.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.moneyBar {
    background-image: url(../../assets/stats/money.png);
    background-repeat: repeat-y;
    background-size: 70px 30px;
    width: 70px;
    margin-bottom: 0;
}

.moneyBarWrapper {
    height: 50%;
    width: 1400px;
    position: relative;
    z-index: 10;
    top: 215px;
    left: 85px;
}
.axisWrapper {
    position: relative;
    z-index: 10;
    bottom: 200px;
}

.bars {
    background-image: url(../../assets/stats/money.png);
    background-repeat: repeat-y;
}
