.sun-container {
    top: 55%;
    right: 25%;
    width: 150px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 235px;
}

#dlkjfldskjf > * {
    outline: 0.1px solid red !important;
}

.sun {
    user-select: none;
    position: relative;
    display: flex;
    align-self: flex-start;
    width: 160px;
    height: 160px;
    margin-left: 8rem;
    margin-top: 4rem;
}

.cloud {
    position: absolute;
    z-index: 1;
}

#weatherBox {
    max-width: 400px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    height: 60%;
    width: 100%;
    margin-top: 5rem;
    top: 0px;
    right: 0px;
}

#mascot {
    width: 100%;
}

#solarInfo {
    z-index: 999;
    margin: -130px;
    width: 130px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#solarInfo > p {
    text-align: center;
    font-size: 80%;
}

#solarInfo > p > p {
    color: green;
    font-size: large;
}
