.funfact {
    justify-content: center;
    align-content: center;
    width: 100px;
    text-align: center;
}

#battery {
    position: absolute;
    left: 918px;
    top: 310px;
}

.animate-width {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
