.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #8ba5ff;
    border-radius: 3rem;
}

.homeButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 100px;
    border: 0.1px solid black;
    background-color: #8ba5ff;
}
